# Environment variables for dataset registry

# Docker Compose project name (container name prefix)
COMPOSE_PROJECT_NAME=cdx-view

# Root directory for storing datasets
STORAGE_LOCATION=./storage
# Directory holding the SQLite database file
DB_LOCATION=./db
# Name of the SQLite database file under DB_LOCATION
DB_NAME=datasets.db

# User and group IDs for file permissions
# This is the user and group that will own the files created by the application
# Registry service has to have rw access to the storage location, so these IDs should match the permissions of the storage directory
USER_ID=1000
GROUP_ID=1000

# Host and port for client and server
HOST_CLIENT_PORT=5173
HOST_SERVER_PORT=8000

# Client Settings
# API URL
PUBLIC_API_URL=http://example.com/api
# Base URL for the application
BASE_PATH=/map
